# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
build/

# Environment variables
.env
.env.test
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Prisma
backend/prisma/migrations/**/migration_lock.toml
backend/src/generated/*

# certbot
certbot/conf
certbot/www

backend/src/generated/*

# certbot
certbot/conf
certbot/www

# Test coverage
coverage/

# Logs
*.log
npm-debug.log*

backend/src/generated/prisma