# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres_db

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB}?schema=public"

# Server
PORT=3001
HOST=0.0.0.0

# Auth
JWT_SECRET="change-me-in-production"

# Environment
NODE_ENV=development
